.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/
.metadata
.packages
camcode.iml
example/.dart_tool
example/.idea
example/.flutter-plugin
example/.flutter-plugins-dependencies
example/build/
example/.metadata
example/.packages
example/camcode_example.iml